.home-bg {
    text-align: center;
    background-color: #dddddd;
}

.home-bg li {
    display: inline;
}

.home-bg li {
    float: left;
  }
  
.home-bg a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

.display-docs {
    text-align: center;
    font-size: 30px;
}